<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/style.css' />
    <title><%= actor.first_name %> <%= actor.last_name %></title>
</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>    
    <br>
        <H2>Detalles del Actor :</H2>
    <br>
    <br>    
    <br>    
        <P>
            NOMBRE Y APELLIDO : <%= actor.first_name %> <%= actor.last_name %>
        </P>
    <br>
    <br>
        <p>
            RATING : <%= actor.rating %>
        </p>
</body>
</html>